html {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    background-image: url('tetherFondo.png');
    background-size: cover;
}
body {
    display: grid;
    width: 100%;
}
.datoImagen {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 5%;
}
.contenedor1,
.contenedor2,
.contenedor3 {
    display: flex;
    margin-top: 0;
    height: auto; /* Cambia a 'auto' para ajustar la altura al contenido */
    place-items: center;
    flex-direction: column;
}
.contenedor4 {
    display: flex;
    margin-top: 0; /* Ajusta el margen superior como necesites */
    height: auto; /* Cambia a 'auto' para ajustar la altura al contenido */
    place-items: center;
    flex-direction: column;
}
.info {
    display: flex;
    height: auto;
    margin-right: 0;
    margin-bottom: 0;
}
#advertencia {
    height: auto;
    width: 2em;
    margin-bottom: 0;
}
#imagenCentral {
    margin-top: 0;
    margin-bottom: 0;
    width: 10em;
    height: 10em;
}
#precioBinance {
    font-size: 200%;
    color: #F3BA2F;
    display: grid;
    place-items: center;
    border: 5px solid #ffffff;
    background-color: #0C0E12; /* Agrega el color de fondo que desees */
    border-radius: 10px;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    }
#precioFiwind {
    font-size: 35px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color:  #F4C430;
    display: flex;
    border: 5px solid #e0f2fa;
    background-color: #0C0E12; /* Agrega el color de fondo que desees */
    border-radius: 10px;
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0;
    margin-bottom: 3vh;
}
#precioBelo {
    font-size: 35px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color: #e0f2fa;
    display: flex;
    border: 5px solid #98eb98;
    background-color: #8617ee;
    border-radius: 10px;
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0;
    margin-bottom: 3vh;
}
#precioBncp2p {
    font-size: 35px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color:  #F4C430;
    display: flex;
    border: 5px solid #e0f2fa;
    background-color: #0C0E12; /* Agrega el color de fondo que desees */
    border-radius: 10px;
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin-top: 2%;
    margin-bottom: 3vh;
}
#precioPlus {
    font-size: 35px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color:  #ffffff;
    display: flex;
    border: 5px solid #b704bd;
    background-color: #f15c06; /* Agrega el color de fondo que desees */
    border-radius: 10px;
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin-top: 0;
    margin-bottom: 1%;
    grid-column: 2;
    grid-row: 1;
}

#diferenciaPorcentual {
    font-size: 50px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color: #000000; /* Cambia el color según tus preferencias */
    display: flex;
    border: 5px solid #e0f2fa;
    border-radius: 10px;
    background-color: #0C0E12; /* Agrega el color de fondo que desees */
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0; /* Centra horizontalmente */
    justify-content: space-around;
}
#diferenciaPorcentual2 {
    font-size: 50px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color: rgb(0, 0, 0); /* Cambia el color según tus preferencias */
    display: flex;
    border: 5px solid #98eb98;
    border-radius: 10px;
    background-color: #8617ee; /* Agrega el color de fondo que desees */
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0; /* Centra horizontalmente */
    justify-content: space-around;
}
#diferenciaPorcentual3 {
    font-size: 50px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color: #000000; /* Cambia el color según tus preferencias */
    display: flex;
    border: 5px solid #e0f2fa;
    border-radius: 10px;
    background-color: #0C0E12; /* Agrega el color de fondo que desees */
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0; /* Centra horizontalmente */
    justify-content: space-around;
}
#diferenciaPorcentual4 {
    font-size: 50px;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color: #ffffff; /* Cambia el color según tus preferencias */
    display: flex;
    border: 5px solid #b704bd;
    border-radius: 10px;
    background-color: #f15c06; /* Agrega el color de fondo que desees */
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0; /* Centra horizontalmente */
    justify-content: space-around;
    grid-column: 2;
    grid-row: 2;
}